<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <h2>Your Saved Events</h2>

      <ul class="saved-events" ng-if="vm.savedEvents.length > 0">
        <li ng-repeat="e in vm.savedEvents">
          <em class="start italic">{{e.start | date:shortDate}}</em> - <a ui-sref="event({ id: e._id })">{{e.name}}</a> <small>{{e.location.name}}</small>
          <a ng-click="vm.removeEvent(e)" class="trash"><span class="fa fa-trash"></span></a>
        </li>
      </ul>
      <p ng-if="vm.savedEvents.length == 0">You don't have any saved events. Go find something awesome to do!</p>
    </div>
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <h2>Change Password</h2>

      <form class="form" name="form" ng-submit="vm.changePassword(form)" novalidate>

        <div class="form-group">
          <label>Current Password</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ vm.errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>New Password</label>

          <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <div class="form-group">
          <label>Confirm New Password</label>

          <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                 match="vm.user.newPassword"
                 ng-minlength="3"
                 required=""/>
          <p class="help-block"
             ng-show="form.confirmPassword.$error.match && vm.submitted">
            Passwords must match.
          </p>

        </div>

        <p class="help-block"> {{ vm.message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
      </form>
    </div>
  </div>
</div>
