<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <input id="eventsFilter" class="form-control" type="text" placeholder="search" ng-model="eventsFilter">

      <h1>Events <small ng-if="events.events.length">{{events.events.length}}</small><small class="loading" ng-if="events.events.length == 0">loading</small></h1>

      <ul class="list-group">
        <li class="list-group-item" ng-repeat="e in events.events | orderBy:e.start | filter:eventsFilter">
          <em class="start italic">{{e.start | date:shortDate}}</em> - <a ui-sref="event({ id: e._id })">{{e.name}}</a> <small>{{e.location.name}}</small>
        </li>
      </ul>
    </div>
  </div>
</div>

<footer></footer>
