<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <input id="eventsFilter" class="form-control" type="text" placeholder="search" ng-model="events.eventsFilter">
      <select id="sortBy" class="form-control" ng-model="sortBy">
        <option value="start" selected>Sort by Start</option>
        <option value="distance">Sort by Distance</option>
      </select>

      <h1>Events <small ng-if="events.events.length">{{events.events.length}}</small><small class="loading" ng-if="events.events.length == 0">loading</small></h1>

      <ul class="list-group">
        <li class="list-group-item" ng-repeat="e in events.events | orderBy:sortBy | filter:events.eventsFilter track by e._id" ng-style="{ 'border-left': e.color + ' 1px solid' }">
          <em class="start italic">{{e.start | date:shortDate}}</em> - <a ui-sref="event({ id: e._id })">{{e.name}}</a> <small>{{e.location.name}} {{e.distance | number:0}}m</small>
        </li>
      </ul>
    </div>
  </div>
</div>

<footer></footer>
